body {
  animation: 10000ms ease-in-out infinite color-change;
}

@keyframes color-change {
  0% {
    background-color: rgb(34, 146, 137);
  }
  20% {
    background-color: rgb(195, 223, 35);
  }
  40% {
    background-color: rgb(206, 7, 7);
  }
  60% {
    background-color: rgb(196, 37, 196);
  }
  80% {
    background-color: rgb(11, 120, 148);
  }
  100% {
    background-color: rgb(24, 163, 152);
  }
}


/* Center website */
.main {
  max-width: 800px;
  margin: auto;
}

h1 {
  font-size: 40px;
  word-break: break-all;
  color: rgb(206, 200, 200);
}

h2 {
  color: rgb(214, 213, 213);
  text-align: center;
}

h3 {
  color: rgb(12, 12, 12);
  text-align: center;
}

p {
  color: black;
}
.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* about */

.w3-row img {margin-bottom: -8px}

/* button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 15px;
}

#myBtn:hover {
  background-color: rgb(83, 68, 110);
}





